
/**************Grundeinstellung**************/
/**************Grundeinstellung**************/
/**************Grundeinstellung**************/
:root {
    --primary-color:#07080A;
    --secondary-color: #FFFFFF;
    --tertiary-color: #D97F67;
    --quaternary-color: #99BE86;
    --quinary-color: #7A909E;
    --senary-color:#B5B5B5;
    
}

body {
    background-color: var(--primary-color);
}

/***Header gestalten***/
/***Header gestalten***/
/***Header gestalten***/
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/*Logo*/
header img {
    width: 4rem;
    height: 4rem;
}

.menu-icon{
  display: none;
}



/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
h1 {
    color: var(--secondary-color);
    font-family: 'Anton';
    font-size: 10.625rem;
    font-weight: 400;
}


/*für h2 die speziell gestyled sind mit einer animation deshalb class vergeben*/

/* Concept-Bereich */
.section-block {
  height: 70vh; /* die Bildschirmhöhe aber nicht die ganze */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Titel */
.section-title {
  font-family: 'Anton';
  font-size: 20vw; /* ganze Breite */
  color:var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
  line-height: 1;
  transform: scale(0.6); /* Start klein */
  transition: transform 0.1s ease-out;
}




h3 {
    color: var(--secondary-color);
    font-family: Anton;
    font-size: 2rem;
    font-weight: 400;
}


p {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}


/*Video stylen*/
video {
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--secondary-color);
}


/*Buttons stylen*/
.button {
  background-color:var(--tertiary-color);
  color:var(--secondary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  transition: background 0.3s ease;
}

/*Hover Effect für Button*/
.button:hover {
  background-color:var(--quaternary-color);
}

/*Links stylen*/
/*Links stylen*/
a {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}


/*Hero*//*Hero*//*Hero*/
/*Hero*//*Hero*//*Hero*/

#hero {
  position: relative;
  width: 100%;
  height: 41rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  /* Text nach unten */
  justify-content: flex-end; 

/* Text mittig */
  align-items: center;       
}

#hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero h1 {
  position: relative;

  /* über dem Bild */
  

  margin: 0;
  padding: 0;
}





/*Konzept*//*Konzept*//*Konzept*/
/*Konzept*//*Konzept*//*Konzept*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

      padding: 4rem;
      position: relative;
      margin-top: 6rem;
}

.content p{
    text-align:center;
    margin-top: -3rem;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 3rem;
}


.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}




/*Entdecke die Details*//*Entdecke die Details*/
/*Entdecke die Details*//*Entdecke die Details*/
/*3 Cards nebeneinander*/

#details {
  text-align: center;
  padding: 6rem 2rem;
  margin-top: 6rem;
}

.details-title {
  margin-bottom: 4rem;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.detail-box {
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 1.5rem;
  padding: 2rem;
  text-align: left;
}



.detail-box h3 {
  margin-bottom: 1rem;
}

.detail-box p {
  margin-bottom: 2rem;
}

/* Farben */
.reflections {
  background-color:var(--tertiary-color);
}

.urban-details {
  background-color:var(--quaternary-color);
}

.perspectives {
  background-color:var(--quinary-color);
}

/* Buttons */
.detail-button {
  background-color:var(--primary-color);
  color:var(--secondary-color);
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  align-self: flex-start;
}

.reflections .detail-button:hover {
  background-color: var(--quaternary-color);
}

.urban-details .detail-button:hover {
  background-color: var(--quinary-color);
}

.perspectives .detail-button:hover {
  background-color: var(--tertiary-color);
}


/*Galerie*//*Galerie*//*Galerie*/
/*Galerie*//*Galerie*//*Galerie*/
.bento-grid{
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 94vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 15rem);
}

.grid{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
}

.bento-grid img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

.bento-grid > :nth-child(1) {
    grid-column: span 1;
    grid-row: span 2;
}

.bento-grid > :nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
}

.bento-grid > :nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

.bento-grid > :nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
}


/*About Me*//*About Me*//*About Me*/
/*About Me*//*About Me*//*About Me*/
.about{
   margin-top: 6rem;
}
.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 94vw;        /* gleich wie Galerie */
  margin: 0 auto;     /* zentriert */
  padding: 4rem 0;    /* schöner Abstand oben/unten */
}

/* Linke Seite: Titel + Text untereinander */
.aboutMe-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
}

.aboutMe-text p{
    margin-top: 1rem;
    line-height: 1.6;
}

/* Rechte Seite: Bild */
.aboutMe img {
  width: 40%;
  height: 70%;
  object-fit: cover;
  border-radius: 1.5px;
}


/*Kontakt*//*Kontakt*//*Kontakt*/
/*Kontakt*//*Kontakt*//*Kontakt*/

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 94vw;
  margin: 0 auto;
  padding: 4rem 0;
  gap: 3rem;
}

/* Linke Seite */
.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formular */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 1rem var(--senary-color);
  background: var(--secondary-color);
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease;
}

/* Rechte Seite */
.contact-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}





/* Footer Basis */
.footer {
  background-color: #0b0b0b;
  color: white;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

/* Inhalt */
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 94vw;
  margin: 0 auto;
  flex-wrap: wrap;
}



/*Footer*//*Footer*//*Footer*/
/*Footer*//*Footer*//*Footer*/

.footer{
  background-color: var(--tertiary-color);
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-column h3 {
  font-size: 1rem;
  color:var(--primary-color);
  letter-spacing: 1px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li a {
  color:var(--secondary-color);
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.footer-column ul li a:hover {
  color:var(--quaternary-color);
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color:var(--secondary-color);
  font-size: 1.5rem;
  transition: 0.2s ease;
}

.social-icons a:hover {
  color:var(--quaternary-color);
}

/* Footer unten */
.footer-bottom {
  width: 94vw;
  display: flex;
  justify-content: center;
}



















@media screen and (max-width: 768px) {

  .menu-icon {
    display: block;
    color: var(--secondary-color);
    font-size: 2rem;
    position: relative;
    z-index: 9999;
  }

  .menu-icon .open {
    display: block;
  }

  .menu-icon .closed {
    display: none;
  }

  header.active .menu-icon .open {
    display: none;
  }

  header.active .menu-icon .closed {
    display: block;
  }

  header nav {
    display: none;
  }

  header.active nav {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    z-index: 1000;
  }

  header.active nav ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  nav ul li a {
    font-size: 3rem;
    color: var(--secondary-color);
    font-family: "Anton";
  }


  /*Grundeinstellungen*//*Grundeinstellungen*//*Grundeinstellungen*/
  /*Grundeinstellungen*//*Grundeinstellungen*//*Grundeinstellungen*/
  /*Grundeinstellungen*//*Grundeinstellungen*//*Grundeinstellungen*/

    /* Hero Titel */
  h1 {
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;
  }

  /* Section Title (die grossen Titel) */
  .section-title {
    font-size: 20vw;
    letter-spacing: 0.2rem;
    transform: scale(0.6);
  }

  /* Allgemeine Texte */
  p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    padding: 0 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }


  /* Buttons */
  .button {
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
  }

  /* Links */
  a {
    font-size: 1rem;
  }





  /*Konzept*//*Konzept*/
  /*Konzept*//*Konzept*/
  .content{
      padding: 1rem;
}

.content p{
    text-align:center;
    margin-top: -15rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


/*Galerie*//*Galerie*/
/*Galerie*//*Galerie*/
.bento-grid{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: -8rem;
}

.bento-grid > :nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(2) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(5) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(6) {
    grid-column: span 1;
    grid-row: span 1;
}

.bento-grid > :nth-child(7) {
    grid-column: span 1;
    grid-row: span 1;
}



}


