
/**************Grundeinstellung**************/
/**************Grundeinstellung**************/
/**************Grundeinstellung**************/
:root {
    --primary-color:#07080A;
    --secondary-color: #FFFFFF;
    --tertiary-color: #D97F67;
    --quaternary-color: #99BE86;
    --quinary-color: #7A909E;
    --senary-color:#B5B5B5;
    
}

body {
    background-color: var(--primary-color);
}

/***Header gestalten***/
/***Header gestalten***/
/***Header gestalten***/
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 1rem;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/*Logo*/
header img {
    width: 4rem;
    height: 4rem;
}



/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
/*Alle Schriften stylen*/
h1 {
    color: var(--secondary-color);
    font-family: 'Anton';
    font-size: 10.625rem;
    font-weight: 400;
}


/*für h2 die speziell gestyled sind mit einer animation deshalb class vergeben*/

/* Concept-Bereich */
.section-title {
  height: 70vh; /* die Bildschirmhöhe aber nicht die ganze */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Titel */
.title {
  font-family: 'Anton';
  font-size: 20vw; /* ganze Breite */
  color:var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
  line-height: 1;
  transform: scale(0.6); /* Start klein */
  transition: transform 0.1s ease-out;
}




h3 {
    color: var(--secondary-color);
    font-family: Anton;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}


/*Video stylen*/
video {
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--secondary-color);
}


/*Buttons stylen*/
.button {
  background-color:var(--tertiary-color);
  color:var(--secondary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  transition: background 0.3s ease;
}

/*Hover Effect für Button*/
.button:hover {
  background-color:var(--quaternary-color);
}

/*Links stylen*/
/*Links stylen*/
a {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}


/*Hero*//*Hero*//*Hero*/
/*Hero*//*Hero*//*Hero*/

#hero {
  position: relative;
  width: 100%;
  height: 41rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  /* Text nach unten */
  justify-content: flex-end; 

/* Text mittig */
  align-items: center;       
}

#hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#hero h1 {
  position: relative;

  /* über dem Bild */
  z-index: 1;   

  margin: 0;
  padding: 0;
}





/*Konzept*//*Konzept*//*Konzept*/
/*Konzept*//*Konzept*//*Konzept*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;

      padding: 4rem;
      position: relative;
      z-index: 2;
}

.content p{
    text-align:center;
    margin-top: -3rem;
    margin-right: 7rem;
    margin-left: 7rem;
    margin-bottom: 3rem;
}


.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}




/*Entdecke die Details*/
/*3 Cards nebeneinander*/

#details {
  text-align: center;
  padding: 6rem 2rem;
}

.details-title {
  margin-bottom: 4rem;
}

.details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.detail-box {
  flex: 1 1 300px;
  max-width: 350px;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-box h3 {
  margin-bottom: 1rem;
}

.detail-box p {
  margin-bottom: 2rem;
}

/* Farben */
.reflections {
  background-color:var(--tertiary-color);
}

.urban-details {
  background-color:var(--quaternary-color);
}

.perspectives {
  background-color:var(--quinary-color);
}

/* Buttons */
.detail-button {
  background-color:var(--primary-color);
  color:var(--secondary-color);
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  align-self: flex-start;
}

.reflections .detail-button:hover {
  background-color: var(--quaternary-color);
}

.urban-details .detail-button:hover {
  background-color: var(--quinary-color);
}

.perspectives .detail-button:hover {
  background-color: var(--tertiary-color);
}

